---
import "@/styles/globals.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { DataTable } from "@/components/datatable/datatable";
import { getTasks } from "@/lib/data/tasks";
import { columns } from "@/lib/data/tasks/columns";
const tasks = await getTasks();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <DataTable data={tasks} columns={columns} client:load />
    </main>
    <Footer />
  </body>
</html>
